<ion-item [routerLink]="['/movies', movie.title]">
  <ion-avatar slot="start">
    <img src={{movie.src}}>
  </ion-avatar>
  <ion-label>
    <h2>{{movie.title}}</h2>
    <h3>{{movie.year}}</h3>
  </ion-label>
</ion-item>
<ion-button (click)="deleteMovie(movie.title)">Delete</ion-button>

