<ion-header>
  <ion-toolbar>
    <ion-title>250 TOP Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-item *ngFor="let movie of movies;" [movie]="movie | toItem"></app-item>
  </ion-list>
</ion-content>