<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
  <ion-back-button routerDirection="back" [routerLink]="['/movies']"></ion-back-button>
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of movies;">
    <img src="{{movie.image}}" />
    <ion-card-header>
      <ion-card-subtitle>{{movie.crew}}</ion-card-subtitle>
      <ion-card-title>{{movie.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptate!
    </ion-card-content>
  </ion-card>
</ion-content>
